* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f9faf8;
  background-color: #f9faf8;
}

#header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 80px 100px 80px;
}

#header #header__header {
  font-size: 24px;
}

#header__navbar #header__navbar--ul,
#about__art #about__p {
  font-size: 18px;
  color: #e5e7eb;
}

#header__navbar #header__navbar--ul {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-self: flex-start;
}

#header__navbar--ul .navbar--li {
  align-self: flex-end;
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: space-around;
}

.navbar--li,
.navbar__li--a {
  color: #e5e7eb;
  text-decoration: none;
}
#mainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#about {
  background-color: #1f2937;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

#about__sect #about__h1 {
  font-size: 48px;
  font-weight: 900;
}

#about__pict #about__pict--img {
  max-width: 350px;
}

#about__sect,
#about__pict {
  flex: 1;
}

#about #about__sect {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
}

#about #about__pict {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about__sect #about__btn,
#about__sect #about__btn:visited {
  text-decoration: none;
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

#projects {
  background-color: #e5e7eb;
  width: 100vw;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects #projects__fgrs--cntr {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 50px;
}

#projects #projects__h1 {
  margin: 25px;
}

.projects__figures {
  width: 150px;
  height: 150px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  border: #3882f6 solid 4px;
  border-radius: 10px;
}

.projects__imgs {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 10px;
  padding: 1px;
}
